#**Database Programming**

created by Ari Sulistiyo Prabowo


This notebook is created to teach student about dataframe advanced level. All the code is free to reuse by everyone.

**Contents**
1. Text file in python
  - Writing text file
  - Reading text file
  - Appending text file
3. Connect database postgre in Python
4. Query and exercise in Python

___

In [ ]:
#import library
import psycopg2
import pandas as pd
from openpyxl import Workbook, load_workbook

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Text File in Python

### Writing text

In [ ]:
# Writing text in python
with open('untitled.txt', 'w') as writer:
  writer.write('Welcome back to my channel')

In [ ]:
with open('untitled.txt', 'r') as reader:
    print(reader.readlines())

['Welcome back to my channel']

### Reading and Appending text in python

In [ ]:
path = "/content/drive/MyDrive/Data Ari Gmail/Data_Ari/Data_Science/Digital Skola/Indonesia Version/Database Programming/saham.txt"

In [ ]:
text_file = open(path)
text_file

In [ ]:
# reading all text in file text
with open(path, 'r') as text_file:
  print(text_file.readlines())

['Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.\n', '\n', 'Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)\n', 'Digital Skola Batch 11\n', 'I will work as a data professional']

In [ ]:
# reading file and separate each line by add end = ""
with open(path, 'r') as text_file:
  for line in text_file:
    print(line, end="")

Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.

Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)
Digital Skola Batch 11
I will work as a data professional

In [ ]:
# appending text into the existing file
with open(path, 'a') as text_file:
  text_file.write("\nDigital Skola Batch 11")

In [ ]:
# show the result
with open(path, 'r') as text_file:
  for line in text_file:
    print(line, end="")

Saham (stock) merupakan salah satu instrumen pasar keuangan yang paling popular. Menerbitkan saham merupakan salah satu pilihan perusahaan ketika memutuskan untuk pendanaan perusahaan. Pada sisi yang lain, saham merupakan instrument investasi yang banyak dipilih para investor karena saham mampu memberikan tingkat keuntungan yang menarik.

Saham dapat didefinisikan sebagai tanda penyertaan modal seseorang atau pihak (badan usaha) dalam suatu perusahaan atau perseroan terbatas. Dengan menyertakan modal tersebut, maka pihak tersebut memiliki klaim atas pendapatan perusahaan, klaim atas asset perusahaan, dan berhak hadir dalam Rapat Umum Pemegang Saham (RUPS)
Digital Skola Batch 11
I will work as a data professional
Digital Skola Batch 11

## Connect SQL in Python

In [ ]:
conn = psycopg2.connect(
          host = "**************",
          database = "**************",
          user = "**************",
          password = "**************"
)

In [ ]:
cur = conn.cursor()

In [ ]:
sql = """SELECT * FROM batch_11.cb_stations"""
station = pd.read_sql_query(sql, conn)
station.head()

   station_id  ... last_reported
0         128  ...    1970-01-01
1         224  ...    1970-01-01
2         229  ...    1970-01-01
3         410  ...    1970-01-01
4         434  ...    1970-01-01

[5 rows x 18 columns]

In [ ]:
sql = """WITH TABS AS
              (SELECT *
               FROM batch_11.cb_trips
               where gender = 0 and tripduration = 634)
               
         SELECT *
         from TABS"""
data = pd.read_sql_query(sql, conn)
data.head()

   tripduration           starttime  ... birth_year  gender
0           634 2013-07-08 02:05:25  ...          N       0
1           634 2013-07-08 13:16:41  ...          N       0
2           634 2013-07-08 14:25:36  ...          N       0
3           634 2013-07-08 15:06:50  ...          N       0
4           634 2013-07-09 17:40:15  ...          N       0

[5 rows x 15 columns]

In [ ]:
sql = """WITH TABS AS
              (SELECT b.tripduration, a.name as station_name, b.starttime
               FROM batch_11.cb_stations as a
               JOIN batch_11.cb_trips as b
               on a.station_id = b.end_station_id)
               
         SELECT station_name, sum(tripduration) as total_trip_duration
         from TABS
         where station_name like '%Clermont%'
         group by 1
         having sum(tripduration) < 3000000
         """
data2 = pd.read_sql_query(sql, conn)
data2.head(7)

                   station_name  total_trip_duration
0  Clermont Ave & Lafayette Ave               760813
1       Clermont Ave & Park Ave               332556
2      Fulton St & Clermont Ave               860286

In [ ]:
# How many start_station used the most? sort in descending
data_start_sta = data['start_station_name'].value_counts().rename_axis('Start_Station').reset_index(name='counts')

data_start_sta.head()

             Start_Station  counts
0          8 Ave & W 31 St       4
1          W 51 St & 6 Ave       3
2      St Marks Pl & 2 Ave       3
3          W 27 St & 7 Ave       3
4  Henry St & Atlantic Ave       3

In [ ]:
sql = """WITH TABS AS
              (SELECT *
               FROM batch_11.cb_trips
               where lower(end_station_name) like '%broadway%' and tripduration <= 500)
               
         SELECT *
         from TABS"""
data3 = pd.read_sql_query(sql, conn)
data3.head()

   tripduration           starttime  ... birth_year  gender
0           144 2013-07-08 00:44:22  ...       1981       1
1           244 2013-07-08 01:02:20  ...       1975       1
2           453 2013-07-08 01:13:15  ...          N       0
3           269 2013-07-08 01:33:59  ...          N       0
4           490 2013-07-08 02:06:53  ...       1977       1

[5 rows x 15 columns]

In [ ]:
# Show the proportion of usertype
exercise2 = data3['usertype'].value_counts().rename_axis('usertype').reset_index(name='counts')

fig = px.pie(exercise2, values='counts', names='usertype')
fig.show()